.username {
  font-weight: 500;
}
.message {
  padding-left: 1rem;
}
.padding {
  padding-left: 0.5rem;
}
.chat {
  height: 86vh;
}

.chat-input {
  padding: 8px;
  height: 2rem;
}

.container {
  overflow-y: auto;
}
