<div fxLayout="column">
  <div id="msg" class="container">
    <div class="chat">
      <div *ngFor="let msg of messages">
        <div fxLayout="column" class="padding">
          <div class="username">{{ msg.username }}</div>
          <div class="message">{{ msg.message }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-input-box" fxLayout="row">
    <mat-form-field fxFlex>
      <textarea
        matInput
        type="text"
        [formControl]="chatControl"
        placeholder="Chat message"
      >
      </textarea>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="send()"
      [disabled]="disableSend"
    >
      Send
    </button>
  </div>
</div>
