<form [formGroup]="loginForm">
  <div fxLayout="column">
    <mat-form-field fxFlex="1 1 5em">
      <input
        matInput
        type="text"
        formControlName="username"
        placeholder="First name"
      />
    </mat-form-field>
    <mat-form-field fxFlex="1 1 5em">
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Password"
      />
    </mat-form-field>
  </div>
</form>
<button mat-flat-button color="primary" (click)="login()">Login</button>
